.cb-dept-email {
  &__row {
    border-top: 1px solid hsl(var(--hsl-lime-1000) / 0.4);
  }
  &__department {
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
  }
  &__emails {
    line-height: var(--lh-normal);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);

    a {
      color: var(--col-lime-1000);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
