.cb-locations {
  &__row {
    border-top: 1px solid hsl(var(--hsl-lime-1000) / 0.4);
  }
  &__name {
    font-size: var(--fs-700);
    font-weight: var(--fw-light);
  }
  &__address {
    line-height: var(--lh-normal);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
  }
}
