.cb-related-work {
  background-color: var(--col-primary-black);
  color: var(--col-white);
  border-bottom: 1px solid hsl(var(--hsl-neutral-050) / 0.5);

  &__pre-title {
    border-bottom: 1px solid hsl(var(--hsl-neutral-050) / 0.5);
    padding-block: 0.5rem;
    color: var(--col-brand);
    font-weight: var(--fw-regular);
    font-size: var(--fs-300);
    line-height: 1;
    text-transform: uppercase;
  }
  &__card {
    aspect-ratio: 16 / 9;
    width: 100%;
    display: grid;
    grid-template-areas: "stack";
    text-decoration: none;
    position: relative;
    overflow: hidden;
    &:hover {
      text-decoration: none;
      color: initial;
    }
  }
  &__card.has_video:hover &__image {
    opacity: 0;
  }

  &__image {
    grid-area: stack;
    aspect-ratio: 16 / 9;
    transition: opacity 0.3s ease;
    z-index: 2;
    object-fit: cover;
    width: 100%;
  }
  &__content {
    grid-area: stack;
    align-self: flex-end;
    color: var(--col-white);
    background: linear-gradient(
      hsl(var(--hsl-primary-black) / 0) 0%,
      hsl(var(--hsl-primary-black) / 0.6) 20%,
      hsl(var(--hsl-primary-black) / 0.8) 100%
    );
    padding: 2rem 2rem 1rem 1rem;
    z-index: 3;
    position: relative;
  }
  &__title {
    font-size: var(--fs-300);
    font-weight: var(--fw-semi);
  }
  &__desc {
    font-size: var(--fs-200);
    font-weight: var(--fw-light);
    color: var(--col-neutral-500);
    margin-top: 0.5rem;
  }

  .work-video {
    grid-area: stack;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
  }
}
